// typefaces
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

// reset browser css
* {
    box-sizing: border-box;
    margin: 0;    
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

// colors
$white: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);

// mixins
@mixin flex($align:center, $justify:center, $direction:row, $wrap:wrap) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
    flex-wrap: $wrap;
}
